
            @import url('https://fonts.googleapis.com/css2?family=Sacramento');


            @keyframes buzz {
                70% {
                    opacity: 0.90;
                }
            }

            @keyframes blink {
                40% {
                    opacity: 1;
                }

                42% {
                    opacity: 0.8;
                }

                43% {
                    opacity: 1;
                }

                45% {
                    opacity: 0.2;
                }

                46% {
                    opacity: 1;
                }
            }

            @keyframes bulb-sequence {
                0% {
                    opacity 0;
                }

                15% {
                    opacity 1;

                }

                20% {
                    opacity 1;
                }

                /* 95% {
                    opacity: 0;

                } */

            }

            .bulb {
                File: drop-shadow(0px 0px 2px #fff6a9) drop-shadow(0px 0px 4px #ffee00);
                fill: white;

                animation-name: bulb-sequence;
                animation-duration: 400ms;
                animation-iteration-count: infinite;


            }

            .bulb-seq-1 {
                Animation-delay: -300ms;
            }

            .bulb-seq-2 {
                animation-delay: -200ms;
            }

            .bulb-seq-3 {
                animation-delay: -100ms;
            }

            .bulb-seq-4 {
                animation-delay: -000ms;
            }

            .bulb-back {
                fill: #222;

            }

            .neon {
                font-family: 'Sacramento', cursive;
                font-size: 34px;

                text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
                fill: #fff6a9;
                stroke: #fff6a9;
                stroke-width: 2px;
                animation: buzz 0.01s infinite alternate;
            }

            .neon-back {
                fill: #222;
            }

            image {
                filter: brightness(50%);
            }
